# Vaultline Environment Configurations

# PostgreSQL Credentials
POSTGRES_SUPERUSER=vaultline_admin
POSTGRES_SUPERUSER_PASSWORD=admin_secret_pass

# Database User Credentials (Database-per-service isolation)
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_db_pass
AUTH_DB_NAME=auth_db

LEDGER_DB_USER=ledger_user
LEDGER_DB_PASSWORD=ledger_db_pass
LEDGER_DB_NAME=ledger_db

PAYMENTS_DB_USER=payments_user
PAYMENTS_DB_PASSWORD=payments_db_pass
PAYMENTS_DB_NAME=payments_db

FRAUD_DB_USER=fraud_user
FRAUD_DB_PASSWORD=fraud_db_pass
FRAUD_DB_NAME=fraud_db

# Redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_DEFAULT_USER=vaultline_mq
RABBITMQ_DEFAULT_PASS=mq_secret_pass
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672