PORT=4004
RABBITMQ_URL=amqp://vaultline_mq:mq_secret_pass@localhost:5672

# Email Config (Nodemailer / SendGrid mock)
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=mock_user
SMTP_PASS=mock_pass
FROM_EMAIL=no-reply@vaultline.com

# Twilio SMS Mock
TWILIO_ACCOUNT_SID=AC_mock_sid
TWILIO_AUTH_TOKEN=mock_token
TWILIO_FROM_NUMBER=+1234567890